
header h1{
	font-size: 35px;
	text-align: center;
	color: green;
	background-color: yellow;
}

h2 {
	font-size: 25px;
}

body{
	background-image: url('../images/wallpaper.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	background-size: 1550px 800px;
	
	/*font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;*/
}

.jumbotron {
	text-align: center;
	height: 100%;
	}

.container{

	background-color: white;
	width: 650px;
	height: 420px;
	margin-top: 50px;
	text-align: center;
}

button{
	
	margin-top: 0px;
	margin-bottom: 0px;
	height: 50px;
	/*visibility: hidden;*/

}



.container p {
	background-color: white;
	margin: 10px 10px 0 40px;
	line-height: 20px;
	font-size: 18px;

}

.answer {
	border: solid #ccccb3 2px;
	visibility: hidden;
	width: 60%;
	height: 50px;
	font-size: 20px;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 70px;
}

#answer0 {
	background-color: #50a226;
}

#answer1 {
	background-color: #e8cf34;
}
#answer2 {
	background-color: #1d4698;
}
#answer3 {
	background-color: #f9f8fa;
}

/*.btn btn-primary btn-lg btn-block{
	width: 50px;
}*/

#reset {
	visibility: hidden;
	margin-top: 30px;
}

.row{
	/*width: 700px;*/
	height: 10px;
	

}

#buttonsid{
text-align: center;

}

#start {
	margin: 20px 0 40px 10px;
/*	margin-left: 10px;
    margin-bottom: 40px;*/
}

footer{
	bottom: 0px;
	position: absolute;
	width: 100%;
}

footer p{

	font-size: 28px;
	text-align: center;
	color: green;
	background-color: yellow;

}






